<%- include('partials/header') %>
<section class="section">
  <!-- <div class="list_container">
    <h2>Liste des <%= currentItem %></h2>
    <ul class="list_columns">
      <% for (let index = 0; index < list.length; index++) { %>
      <% const itemList = list[index]%>
      <li><a href="#" id="itemList" data-id="<%= itemList.id %>"><%= itemList.label%></a></li>
      <button class="delete-button" data-id="<%= itemList.id %>" style="display:none;">Supprimer</button>

      <% } %>
    </ul>   -->

    <div class="list_container">
      <table>
        <thead>
            <tr>
                <th colspan="2">Liste des <%= currentItem %></th>
                <th colspan="2">Liste des <%= currentItem %></th>
                <th colspan="2">Liste des <%= currentItem %></th>
                <th colspan="2">Liste des <%= currentItem %></th>
                <th colspan="2">Liste des <%= currentItem %></th>
            </tr>
        </thead>
        <tbody>
          <!-- <% for (let index = 0; index < list.length; index++) { %>
            <% const itemList = list[index]%>
            <tr>
                <% for (const prop in itemList) { %>
                  <% if (Array.isArray(itemList[prop])) { %>
                    <td>
                    <% for (let i = 0; i < itemList[prop].length; i++) { %>
                        <ul>

                          <% for (const objProp in itemList[prop][i]) { %>
                            <li> <%= itemList[prop][i][objProp] %></li>
                            <% } %>
                          </ul>
                          <% } %>
                        </td>
                    <% } else { %>
                    
                    <% console.log( `La propriété ${prop} a pour valeur ${itemList[prop]}`) %>
                      <td><a href="/<%=itemList[prop]%>"><%=itemList[prop]%></a></td>
                    <% }%>
                <% } %>
            </tr>
          <% } %> -->

          <% for (let index = 0; index < list.length; index++) { %>
            <% const itemList = list[index] %>
            <tr>
              <% for (const prop in itemList) { %>
                <% if (Array.isArray(itemList[prop])) { %>
                  <td>
                    <div class="dropdown">
                      <button class="dropbtn"><%= prop %></button>
                      <div class="dropdown-content">
                        <% for (let i = 0; i < itemList[prop].length; i++) { %>
                          <% const obj = itemList[prop][i] %>
                          <% for (const objProp in obj) { %>
                            <a href="#"><%= obj[objProp] %></a>
                          <% } %>
                          <% if (i < itemList[prop].length - 1) { %>
                            <hr>
                          <% } %>
                        <% } %>
                      </div>
                    </div>
                  </td>
                <% } else { %>
                  <td><%= itemList[prop] %></td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
          
          
          
          </tbody>
      </table>
    
    </div>
  </div>

  
<%- include('partials/footer') %>