<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <div class="info">
        <ul>
            <li><strong>Id : </strong><%= message.id %></li>
            <li><strong>Email : </strong><%= message.email %></li>
            <li><strong>Label : </strong><%= message.label %></li>
            <li><strong>Created at : </strong><%= message.created_at %></li>
            <li><strong>Updated at : </strong><%= message.updated_at %></li>
        </ul>
        <div class="update-delete">
            <a class="icones-message icones-answer" href="mailto:<%= message.email %>"><img src="/picture/icones/5.png" alt="answer"></a>
            <a class="icones-message" href="/admin/message/update/<%= message.id%>"><img src="/picture/icones/2.png" alt="Update"></a>
            <form action="/admin/message/delete/<%= message.id %>" method="post">
            <input class="icones-message" type="image" src="/picture/icones/1.png"></form>
        </div>
    </div>
    <div class="content">
        <p><%= message.content %></p>
    </div>

</section>

<%- include('partials/footer') %>