<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <div class="add">
        <a class="add-icone" href="#"><img src="/picture/icones/3.png" alt="Add"></a>
        <span><a href="#">Add  <%= homeName.toLowerCase() %></a></span>
    </div>

    <table>
        <thead>
            <tr class="top">
                <th>Id</th>
                <th>Label</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="bottom">
            <% for(const message of messages) { %>
                <tr><td><%= message.id %></td><td><a href="/admin/message/<%= message.id %>"><%= message.label %></a></td><td><%= message.email %></td><td><%= message.created_at %></td><td><%= message.updated_at %></td><td><form action="/admin/message/delete/<%= message.id %>" method="post"><input class="icones" type="image" src="/picture/icones/1.png"></form></td></tr>
            <% } %>
        </tbody>
    </table>

</section>

<%- include('partials/footer') %>