<%- include('partials/header') %>
<section class="section">
  <div class="list_container">
  <table>
    <thead>
        <tr>
            <th colspan="2">Liste des <%= currentItem %></th>
        </tr>
    </thead>
    <tbody>
      <% for (let index = 0; index < list.length; index++) { %>
        <% const itemList = list[index]%>
              <tr>
                  <td><a href="/<%=itemList.label%>"><%= itemList.label%></a>label du message</td>
                  <td><a href="/<%=itemList.label%>"><%= itemList.content%></a></td>
                  <td><a href="/<%=itemList.label%>"><%= itemList.email%></a></td>
                  <td><a href="/<%=itemList.label%>"><%= itemList.created_at%></a></td>
                  <td><a href="/<%=itemList.label%>"><%= itemList.updated_at%></a></td>
              </tr>
      <% } %>
      </tbody>
  </table>

</div>
</section>
<%- include('partials/footer') %>