<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <div class="add">
        <a class="add-icone" href="#"><img src="/picture/icones/3.png" alt="Add"></a>
        <span><a href="#">Add  <%= homeName.toLowerCase() %></a></span>
    </div>

    <table>
        <thead>
            <tr class="top">
                <th>Id</th>
                <th>Picture</th>
                <th>Label</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="bottom">
            <% for(const recipe of recipes) { %>
                <tr><td><%= recipe.id %></td><td><img class="picture-ingredient" src="http://localhost:3000/public/picture/recipe/<%= recipe.picture %>" alt="<%= recipe.picture %>"></td><td><a href="/admin/recipe/<%= recipe.id %>"><%= recipe.label %></a></td><td><%= recipe.created_at %></td><td><%= recipe.updated_at %></td><td><a class="icones" href="#"><img src="/picture/icones/2.png" alt="Update"></a></td><td><form action="/admin/recipe/delete/<%= recipe.id %>" method="post"><input class="icones" type="image" src="/picture/icones/1.png"></form></td></tr>
            <% } %>
        </tbody>
    </table>

</section>

<%- include('partials/footer') %>