<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <% if(errorMessage) { %>
        <div class="error">
            <p><%= errorMessage %></p>
        </div>
    <% } %>

    <% if(tag) { %>

        <div class="tag">

            <form action="/admin/tag/update/<%= tag.id %>" method="POST">
    
                <input type="text" name="label" value="<%= tag.label %>" placeholder="Label">
    
                <input class="create_tag" type="submit" value="Valider">

            </form>
        </div>

    <% } else { %>

    <div class="tag">

        <form action="/admin/tag/create" method="POST">

                <input type="text" name="label" placeholder="Label">
    
                <input class="create_tag" type="submit" value="Valider">
                
        </form>
    </div>

    <% } %>

</section>

<%- include('partials/footer') %>