<%- include('partials/header') %>

<section class="section">

    <h3><%= homeName %></h3>

    <div class="add">
        <a class="add-icone" href="/admin/tag/create"><img src="/picture/icones/3.png" alt="Add"></a>
        <span><a href="/admin/tag/create">Add  <%= homeName.toLowerCase() %></a></span>
    </div>

    <table>
        <thead>
            <tr class="top">
                <th>Id</th>
                <th>Label</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="bottom">
            <% for(const tag of tags) { %>
                <tr><td><%= tag.id %></td><td><a href="/admin/tag/<%= tag.id %>"><%= tag.label %></a></td><td><%= tag.created_at %></td><td><%= tag.updated_at %></td><td><a class="icones" href="/admin/tag/update/<%= tag.id %>"><img src="/picture/icones/2.png" alt="Update"></a></td><td><form action="/admin/tag/delete/<%= tag.id %>" method="post"><input class="icones" type="image" src="/picture/icones/1.png"></form></td></tr>
            <% } %>
        </tbody>
    </table>

</section>

<%- include('partials/footer') %>