<%- include('../partials/header') %>
<section class="section">

    <a href="add/pour/ajouter">Ajouter une catégorie</a>

<div class="infos_container">
  <h3>Informations sur la catégorie <%= category.label%></h2>
  <% for (const [key, value] of Object.entries(category)) { %>
   <% if (key != 'ingredient') { %>
     <p><%= key %> : <%= value %></p>
   <% } %>
 <% } %>
</div>

<div class="modify_container">
  <form id="formCategory" action="<%=actionLink%>" method="POST">
    <%= console.log(actionLink) %>
  

    <h3>Modification de la catégorie <%= category.label%></h2>
    <!-- Input pour le label de la catégorie -->
    <label for="label">Nom de la catégorie :</label>
    <input type="text" id="label" name="label" value="<%= category.label %>">
    <input type="id" id="id" name="id" value="<%= category.id %>" hidden>
    <button type="submit">valider le changement de titre</button>
  </form>
    
    <!-- Div pour afficher les ingrédients -->
    <h3 class="ingredients-title">Ajouter ou supprimer des ingrédient de la catégorie <%= category.label %></h2>
      <div class="ingredients-container">

        <form id="formCategory" action="<%=actionLink%>" method="POST">
          <button type="submit">valider les modifications</button>
          <div class="ingredient-actions">
            <select  class="ingredient-select">
              <% for (const ingredient of locals.allIngredients) { %>
                <% console.log(ingredient) %>
                <option value="<%= ingredient.id %>" data-picture="<%= ingredient.picture %>" data-unit="<%= ingredient.unit %>" data-categoryId="<%= ingredient.category_id %>"><%= ingredient.label %></option>
                <% } %>
              </select>
              <button class="ingredient-add-btn">Ajouter</button>
          </div>

        
        <div class="ingredients-list">
          <% if (category.ingredient) { %>
            <% for (const ingredient of category.ingredient) { %>
              <div class="ingredientCard">
                <h3 class="ingredient-label" data-id="<%= ingredient.id %>"><%= ingredient.label %></h3>
                <input type="id" id="id" name="id" value="<%= ingredient.id %>" hidden>
                <input type="text" id="label" name="label" value="<%= ingredient.label %>"hidden>
                <input type="text" id="unit" name="unit" value="<%= ingredient.unit %>"hidden>
                <button class="delete-ingredient" data-id="<%= ingredient.id %>">Supprimer</button>
              </div>
              <% } %>
            </div>
          </div>

          <% } %>
        
          
  </form>
</div>

  

  
<%- include('../partials/footer') %>