<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/picture/favicon/favicon.ico" />
    <link rel="stylesheet" href=" /css/style2.css">
    <link rel="stylesheet" href=<%= css %>>

    <title><%= homeName %></title>
</head>
<body class="body">
    <header class="header">
        <div class="header-logo-profile">
            <div class="logo-name">
                <a href="/"><img src="/picture/logo/O'Frigo1.png" alt="TEST"></a>
                <a class="logo-span" href="/">O'FRIGO</a>

                <span>DASHBOARD</span>
            </div>
            <img class="burger" src="/picture//logo/Burger.png" alt="">
            <% if(locals.userLogin) {%>
                <div class="profil">
                    <a href="/admin/<%= locals.userLogin.first_name+"-"+locals.userLogin.last_name %>"><%=locals.userLogin.first_name + ' ' + locals.userLogin.last_name %></a>
                </div>
            <% } %>
        </div>
        <div class="menu">
            <% if(locals.userLogin && homeName != 'Login') { %>
                <%- include('menu') %>
            <% } %>
        </div>

    </header>